<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAcces.Properties.Settings.farmaciaConnectionString"
            connectionString="Data Source=DESKTOP-K8OML1K\SQLEXPRESS;Initial Catalog=farmacia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>